############################
# GİZLİ AYAR DOSYALARI
############################
config.php
includes/db.php

############################
# VERİTABANI DOSYALARI
############################
*.sql
*.sqlite
*.db

############################
# ORTAM DOSYALARI
############################
.env
.env.*

############################
# LOG & CACHE
############################
*.log
cache/
tmp/
storage/

############################
# IDE / EDITOR
############################
.vscode/
.idea/

############################
# OS DOSYALARI
############################
.DS_Store
Thumbs.db

############################
# UPLOAD EDİLEN DOSYALAR
############################
uploads/
user_uploads/
